@import "../../styles/_variables.scss";

.primary-button {
    border: none;
    background: linear-gradient(45deg, $degrade-end, $degrade-start);
    background-size: 200% 200%;
    background-position: 0% 50%;
    transition: background-position 0.5s ease;
    color: $light-color;
    // padding: .5rem 1.5rem;
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 2rem);
    &:hover {
        background-position: 100% 50%;
    }
}