@import "../../styles/_variables.scss";


#services {
    font-family: "Adamina", serif;
    background: linear-gradient(to right, $light-primary-color, $primary-color);
    margin: 0;
    padding: 0;
    color: $light-color;
    overflow: hidden;
    #service-h2 {
        display: flex;
        border: 1px solid $light-color;
        border-end-end-radius: 2rem;
        border-top-right-radius: 2rem;
        border-left: none;
        margin-right: 5rem;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: clamp(1rem, 7vh, 3rem);
            text-align: center;
            margin-left: 7rem;
            margin-right: 2rem;
        }

        @include media-breakpoint-up(lg) {
            border-end-end-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            margin-right: 35rem;
            padding: .5rem 0 1rem 0;
            h2 {
                margin-left: -3rem;
            }
        }
    }

    p {
        font-size: clamp(1rem, 3vh, 2rem);
    }

    #white-detail {
        width: 25%;
        position: relative;
        opacity: 70%;
        right: 0;
        overflow: hidden;
        margin-top: -20rem;
        margin-bottom: -15.9rem;
        margin-left: 73.78rem;
        z-index: 3;
    }


    .wave-container {
    position: relative;
    bottom: 0;
    // left: 0;
    width: 100vw;
    height: 240px;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;

    .wave-img {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 90%;
        width: 25%;
        overflow: hidden;
        margin-right: -10rem;
        margin-bottom: 2rem;
        object-fit: cover;
        z-index: 2;
        pointer-events: none;
    }

    .wave {
        position: absolute;
        // top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;

        .wave-path {
            animation: waveUpDown 5s ease-in-out infinite alternate;
        }
    }
}
}

