/* =========================
    Color variables
========================= */

$dark-color: #006B5C;
$light-color: #FEFEFE;
$primary-color: #1BB8A6;
$lighter-primary-color: #43F2DE;
$darker-primary-color: #00A68F;