// Imports
@import '../../styles/_variables.scss';

// Estilos específicos
.navbar-custom {
    margin-top: 1.2rem;
    background-color: $light-color;
    // color: $primary-color;
    font-size: 1.2rem;

    .nav-link {
        color: $primary-color;
        &:hover {
        color: $light-primary-color;
        }
    }
}
