// Imports
@import '../../styles/_variables.scss';

// Estilos específicos
.navbar-custom {
    font-family: "Adamina", serif;
    margin-top: 1.2rem;
    background-color: $light-color;
    // color: $primary-color;
    font-size: 1rem;

    .nav-link {
        color: $primary-color !important;
        &:hover {
        color: $light-primary-color !important;
        }
    }

    .nav-link.active,
    .nav-link:focus,
    .nav-link:active {
        color: $primary-color !important;  // impede a mudança de cor
        text-decoration: none !important;
    }
}
